{% extends 'base/base.html' %}
{% block page_content %}

    <!-- No Profile Page -->
    <section id="register-page" class="register">
        <form id="register-form" action="{% url 'create profile' %}" method="post">
            <fieldset>
                <legend>Profile Form</legend>
                {{ form }}
                {% csrf_token %}
                <input class="button submit" type="submit" value="Enter">
            </fieldset>
        </form>
    </section>

    <footer id="site-footer">
        <p>Python Web Basics Retake Exam @SoftUni</p>
    </footer>
{% endblock %}